.movie {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 15px;
    padding: 10px;
    border: solid 1px lightgrey;
}

.movieImg img {
    max-width: 100%;
    height: auto;
}

h2 {
    color: rgb(48, 39, 206);
    margin-top: 0px;
    margin-bottom: 10px;
}

.infoLine {
    display: flex;
    align-items: center;
}

.infoLine:last-child {
    flex-wrap: wrap;
}

.infoLine p {
    margin-left: 10px;
}

.infoLine h3, .infoLine p {
    margin-top: 0;
    margin-bottom: 4px;
    width: 100%;
}

.hraji {
    gap: 5px;
}
